.navbar-fixed-top {
    background: #444B5D !important;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: #1acf78;
}

.navbar-fixed-top {
    position: fixed;
    right: 0px;
    left: -3px;
    z-index: 1030;
    margin: 0.25% 0px 0px 0px !important;
}


.navbar-right .dropdown-menu {
    right: 0% !important;
    left: auto;
}



.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 215px !important;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}


.navbar-nav > li > .dropdown-menu {
    margin-top: 1%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;}


.row {
    margin-right: 0% !important;
    margin-left: 0% !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}



.body {
	padding-top:50px;
}

#masthead {
	min-height:270px;
	background: radial-gradient(ellipse at center center , #fff8b5 0%, #f1e767 37%, #feb645 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  	color: rgba(8, 4, 5, 0.99);
}

#masthead h1 {
	font-size: 55px;
	line-height: 1.25;
}

#masthead .well {
	margin-top:16%;
	background-color:#226622;
  	border-color:#225522;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 55px;
	}
}

.navbar-bright {
	background-color:#226622;
    color:#fff;
}

.navbar-bright a, #masthead a, #masthead .lead {
  	color:#F50B0B;
}

.navbar-bright li > a:hover {
    background-color:#003300;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}



.masthead hgroup h1, .masthead hgroup h2, .masthead .book_synopsis, .masthead .divider, .masthead .sidebar_call_to_action, .boyoyoing {
    animation-name: boyoyoing;
}
.masthead hgroup h1, .masthead hgroup h2, .masthead .book_synopsis, .masthead .divider, .masthead .sidebar_call_to_action, .masthead .book_image, .boyoyoing, .slide_bottom_to_top, .slide_right_to_left, .slide_left_to_right, .sidebar aside * {
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
.masthead hgroup h1 {
    display: table;
    font-size: 400%;
    line-height: 100%;
    margin: 0px;
}
.sunrise hgroup {
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.5);
}
.masthead hgroup {
    color: #222;
}
.masthead {
    color: #222;
}

.masthead hgroup h1, .masthead hgroup h2, .masthead .book_synopsis, .masthead .divider, .masthead .sidebar_call_to_action, .boyoyoing {
    animation-name: boyoyoing;
}
.masthead hgroup h1, .masthead hgroup h2, .masthead .book_synopsis, .masthead .divider, .masthead .sidebar_call_to_action, .masthead .book_image, .boyoyoing, .slide_bottom_to_top, .slide_right_to_left, .slide_left_to_right, .sidebar aside * {
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
.masthead hgroup h1 {
    display: table;
    font-size: 400%;
    line-height: 100%;
    margin: 0px;
}
.sunrise hgroup {
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.5);
}
.masthead hgroup {
    color: #222;
}
.masthead {
    color: #222;
}

.divider {
    display: inline-block;
    position: relative;
    height: 5px!important;
    width: 100%;
    background: none repeat scroll 0% 0% #F2811D;
    margin: 0.5em 0px;
}

.book_synopsis {
    font-size: 130%;
    line-height: 150%;
    max-width: 650px;
    padding: 15px 0px;
}

.td, .th {
    padding: 12px !important;
}

hr {
    border-color: #D52828 !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid rgba(228, 98, 27, 0.51) !important;
}
.link {
    color: #157777 !important;
}

td, th {
    padding: 13px !important;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #dd0600 !important;
}

.is-countdown {
    border: 5px solid #D77C6D!important;
    background-color: #DBEAE9!important;
    box-sizing: 35px border-box!important;
    width: 200px!important;
    height: 55px!important;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px!important;
}

.question {
    padding: 35px !important;
    border: 2px solid!important;
}

.side {
    width: 25%!important;
    margin-top: 165px!important;
    padding-left: 50px!important;
}

.footer {
    padding-top: 10px !important;
    position: absolute;
    width: 100%;
}
/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;

  height: 100% !important;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  background: url("/static/images/light-grey.jpg");
}

/* Set the fixed height of the footer here */
.footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */

.wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

.footer {
  background-color:#414141;
}

.footer a {
  color: #0d5def;
}

h1,h2,h3,h4 {
  font-family: 'Kreon', serif;
  vertical-align:middle;
}

header {
  background: #f16251;
  height:550px;
  color:#000000;
}

header h1,header h2,header h3 a,header a,header a:hover {
  color:#101010;
  font-weight:800;
  text-decoration:none;
}

header h3 {
  font-family: 'Kreon', serif;
  background: #ffcc33;
  padding:10px;
  border-radius:3px;
  font-size:34px;
  padding:12px 10px 6px 10px;
}

header .dropdown-menu {
  top:74px;
  background: #ffcc33;
  border-width:0;
}

h1 {
  font-size:50px;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

.footer > .container {

}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 1px 1px;
}

/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
	font-weight:700;
    text-transform:uppercase;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #000;
}
.navbar-custom .dropdown-menu{
	right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.divider {
	height:100px;
}

.panel {
	border-width:0;
}

@media (max-width: 768px) {
	header {
		height: 95px;
	}
}

#map-canvas {
  	width: 100%;
  	height: 300px;
	margin: 0;
	padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffcc33;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
}


section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

.bg-1 {
	background: url('http://www.bootply.com/assets/example/bg_4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-2 {
	background: url('http://www.bootply.com/assets/example/bg_5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-3 {
	background: url('http://www.bootply.com/assets/example/bg_6.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-4 {
	padding-top:30px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0.2)),to(rgba(255,255,255,0)), color-stop(1,#000));
}

.background{
  background: url("/static/images/light-grey.jpg");
}

.margin{
    margin-top: 2% !important;
}