{% load static %}

        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->

            <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
            <link href="{% static 'css/mystyle.css' %}" type="text/css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/static/css/jquery.countdownTimer.css">
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
            <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
            <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
            <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
            <link rel="stylesheet" type="text/css" href="/static/count/jquery.countdown.css">
            <script type="text/javascript" src="/static/count/jquery.plugin.js"></script>
            <script type="text/javascript" src="/static/count/jquery.countdown.js"></script>


            <script>
                function myFunction() {
                    $(".dropdown-menu").toggle(".dropdown-toggle");
                }
            </script>
        </head>
<body class="background">
    <div id="wrap">
    <header class="navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a class="navbar-brand" rel="home" href="#" title="Exam Portal">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                    <img style="max-width:45px; margin-top: -26%;"
                         src="{% static 'images/studentportal-icon.png' %}"></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-pills">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/exam/tests">Give Exam</a>
                        </li>
                        <li>
                            <a href="/user/all">Students</a>
                        </li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown ">
                        {% if user.is_authenticated %}
                            <a href="#" onclick="myFunction()" class="dropdown-toggle" data-toggle="dropdown">Welcome {{ request.user.username }}<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                            <div class="col-md-10" >
                                <li><a href="/user/profile/" onclick="myFunction()">Profile</a></li><br>
                                <li><a href="/exam/results/" onclick="myFunction()">Results</a></li>
                                <li class="divider"></li>
                                <li><a href="/user/logout" class="btn">Log Out</a></li>
                            </div>
                            </ul>
                        {% else %}
                            <a href="#" onclick="myFunction()" class="dropdown-toggle" data-toggle="dropdown">User Account<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="" id="dialog-form" title="login">
                                        <div>
                                            <form method="post" class="col-md-6" action="/user/login/">
                                                {% csrf_token %}
                                                <fieldset>
                                                    <label for="username">Username</label>
                                                    <input type="text" name="username" id="username" placeholder="enter username" class="text ui-widget-content ui-corner-all">
                                                    <label for="password">Password</label>
                                                    <input type="password" name="password" id="password" placeholder="enter your password" class="text ui-widget-content ui-corner-all"><hr>
                                                    <input class="btn" value="login"  type="submit" >
                                                    <a href="/user/register/" onclick="myFunction()" data-rel="popup" data-position-to="window" data-transition="fade" class="btn">Register</a>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                    </li>
                    </ul>

                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            {% block main_body %}
                <div class="col-md-6">
                        <div class="row custom-row">
                            {% if user.is_authenticated %}
                            <h4> Welcome {{ request.user.username }}</h4>
                            {% else %}
                            <h4><b>sample user name and password</b></h4>
                            <h5>username: guestuser</h5>
                            <h5>password: 123</h5>
                            {% endif %}
                        </div>
                    </div>
            {% endblock %}
        </div>
    </div>
    </div>

</body>