{% extends 'base.html' %}
{% load static %}

{% block main_body %}
    <div class="col-md-3 custom-row">

    </div>
    <div class="col-md-6 form custom-row">
        <form method="post" class="form" action="/user/register/">
             {% csrf_token %}
             <fieldset>
                <table class="table-bordered">
                    <tr>
                        <td><label for="username">User Name</label></td>
                        <td><input type="text" name="username" placeholder=" Please enter your name" id="name" required></td>
                    </tr>

                    <tr>
                        <td><label for="First">First Name</label></td>
                        <td><input type="text" name="first" placeholder=" Please enter your" name id="first" required></td>
                    </tr>

                    <tr>
                        <td><label for="last">Last Name</label></td>
                        <td><input type="text" name="last" placeholder=" Please enter your name" id="last" required></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td><input type="email" name="email" placeholder=" Please enter your email address" id="email1" required></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input type="password" name="password" placeholder="Please enter a password" id="password1" required></td>
                    <tr>
                        <td><label for="cpassword">Password</label></td>
                        <td><input type="password" name="cpassword" placeholder="Please re enter a password" id="password2" required></td>
                    </tr>
                    <tr>
                        <td><label for="roll_no">Roll Number</label></td>
                        <td><input type="number" name="roll_no" placeholder="Please enter a your roll no" id="roll_no" required></td>
                    </tr>
                </table><br>
                 <input type="submit" value="Register" class="button">
             </fieldset>
        </form>
    </div>

{% endblock %}