{% extends 'base.html' %}
{% load static %}

{% block main_body %}
    <div class="col-md-3">

    </div>
    <div class="col-md-6 form">
        <form method="post" class="form" action="http://0.0.0.0:8000/user/register/">
             {% csrf_token %}
             <fieldset>
                <table class="table-bordered">
                    <tr>
                        <td><label for="username">User Name</label></td>
                        <td><input type="text" name="username" placeholder=" Please enter your name" id="name"></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td><input type="email" name="email" placeholder=" Please enter your email address" id="email1"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input type="password" name="password" placeholder="Please enter a password" id="password1"></td>
                    <tr>
                        <td><label for="cpassword">Password</label></td>
                        <td><input type="password" name="cpassword" placeholder="Please re enter a password" id="password2"></td>
                    </tr>
                    <tr>
                        <td><label for="roll_no">Roll Number</label></td>
                        <td><input type="number" name="roll_no" placeholder="Please enter a your roll no" id="roll_no"></td>
                    </tr>
                </table><br>
                 <input type="submit" value="Register" class="button">
             </fieldset>
        </form>
    </div>

{% endblock %}