{% extends 'base.html' %}
{% load static %}

{% block main_body %}
        <div class="col-md-4 custom-row">

        </div>
        <div class="col-md-6 custom-row">

        <div class="custom-row">
            <div class="table">
                <table class="table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                {% for t in test %}
                    <tr>
                        <td><a href="/exam/test/{{ t.s_id }}">{{ t.name }}</a></td>
                        <td>Pending</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        </div>
{% endblock %}